:root {
  --body-bg-color: #22212c;
  --text-color: #fff;
  --text-color-hover-header: #0097e6;
  --text-text-response: #075985;
  --text-color-black: #000;
  --btn-text-color: #3b82f6;
  --btn-bg-color: #374151;
  font-size: 62.5%;
}
.container-geral {
  max-width: 100%;
  width: 960px;
  margin: 0 auto;
}
.img-search {
  max-width: 15rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 2rem;
}
